**/*.png
**/*.pyc
**/.DS_Store
**/.playwright-mcp/
**/.playwright-mcp/*.png
**/.qtcreator/
**/.qtcreator/CMakeLists.txt.user
**/DS_Store
**/__pycache__/
**/build/
playqmlright/.venv/
playqmlright/__pycache__/server.cpython-311.pyc
playqmlright/uv.lock
